@tailwind base;
@tailwind components;
@tailwind utilities;

/* For regular CSS presets */
@layer utilities {
  .text-shadow {
    text-shadow: 0 0 5px black;
  }

  .box-shadow-light {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.203);
  }

  .box-shadow-strong {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.59);
  }
}
/* For tailwind CSS presets */
@layer components {
  .button-black {
    @apply flex justify-center items-center bg-black rounded px-4 min-w-36 py-2 text-white text-2xl box-shadow-strong hover:bg-gray-700 duration-300;
  }

  .button-green {
    @apply flex justify-center items-center bg-green-700 rounded px-4 min-w-36 py-2 text-white text-2xl box-shadow-strong hover:bg-green-800 duration-300;
  }

  .button-red {
    @apply flex justify-center items-center bg-red-700 rounded px-4 min-w-36 py-2 text-white text-2xl box-shadow-strong hover:bg-red-800 duration-300;
  }
}